.heading 
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px crimson;
}


.note
{
    font-size: 15px;
    color: pink;
}

.copy_right_footer
{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: purple;
    list-style: 3;
    text-emphasis: center;
}

canvas
{
    border:5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px red;
}